@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Balsamiq Sans", cursive;
}

button {
  background-color: transparent;
  border: none;
  color: white;
  font-weight: 400;
  font-size: 1em;
  /* padding: 0.5em; */
}

button:hover {
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(53, 53, 53);
  color: white;
  min-height: 50px;
}

header h1 {
  padding-left: 10px;
}

nav {
  margin-left: 30px;
  flex-grow: 1;
}

nav ul {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

nav ul li {
  list-style-type: none;
  text-decoration: none;
  color: white;
}

.login-out {
  margin-left: auto;
  margin-right: 30px;
}

.logged-in-user {
  display: inline-block;
  margin-right: 15px;
}

.logged-in-user ~ a:hover {
  cursor: pointer;
}

.login-container {
  width: 60%;
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-container > h2 {
  width: 55%;
  text-align: center;
  margin-bottom: 0.5em;
  border-bottom: 0.1em solid rgba(170, 170, 170, 0.726);
  padding-bottom: 0.2em;
}

/* Posts */

.posts-container {
  width: 60%;
  margin: auto;
}

.post-form-container {
  width: 100%;
  max-width: 600px;
  margin: auto;
  margin-top: 1em;
}

.post-form-container textarea {
  resize: none;
  height: 6rem;
}

.post-form-container > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post-form-container select {
  width: 80%;
  height: 30px;
}

.post-form-container button {
  width: 20%;
  background-color: rgb(175, 21, 21);
  color: white;
  border: none;
  height: 30px;
  font-weight: 600;
  font-size: 1em;
}

.post-form-container button:hover {
  cursor: pointer;
  background-color: rgb(129, 15, 15);
}

.welcome-container {
  display: flex;
  align-items: center;
  background-color: rgba(9, 78, 9, 0.685);
  padding: 0.5em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.welcome-container > .welcome-message {
  margin-left: 1em;
  color: white;
  font-size: 1.2em;
}

.welcome-container > .welcome-message .username {
  font-weight: 700;
}

/* user */

.icon {
  width: 3.2em;
  height: 3.2em;
  background-color: grey;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.head,
.body {
  position: absolute;
  border-radius: 50%;
}

.head {
  width: 40%;
  height: 40%;
  background-color: white;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
}

.body {
  width: 100%;
  height: 50%;
  background-color: rgb(61, 179, 248);
  top: 60%;
}

/* postItem */

.post-item-container {
  width: 100%;
  background-color: rgba(228, 228, 228, 0.356);
  margin-top: 1em;
  padding: 0.35em;
  border-radius: 0.7em;
}

.user-info {
  display: flex;
  align-items: center;
  padding-bottom: 0.3em;
  border-bottom: 0.1em solid rgba(82, 82, 82, 0.664);
}

.username-and-time {
  margin-left: 1em;
  display: inline-block;
}

.post-item-container > p {
  min-height: 4em;
  margin-top: 0.5em;
}

.post-item-data {
  color: rgb(141, 141, 141);
}

.buttons > button {
  width: 15%;
  padding: 0.4em;
  font-weight: 500;
  border-radius: 0.4em;
}

.buttons > .like-button {
  background-color: white;
  color: rgb(247, 4, 207);
  transition: all 0.2s;
}

.buttons > .like-button.liked {
  background-color: rgba(247, 4, 207, 0.486);
  color: white;
}

.buttons > .comment-button {
  background-color: rgba(33, 150, 245, 0.699);
  margin-left: 0.5em;
}
