@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Balsamiq Sans", sans-serif;
}

:root {
  --primary-color: rgb(255, 255, 255);
  --secondary-color: rgb(153, 153, 153);
  --secondery-background-color: rgb(91, 91, 91);
  --border: 0.1em solid rgba(133, 133, 133, 0.699);
  --hover-color: rgb(68, 171, 255);
}

body {
  background-color: rgb(37, 37, 37);
}

.loading-message {
  color: white;
  text-align: center;
}

button {
  background-color: transparent;
  border: none;
  color: white;
  font-weight: 400;
  font-size: 1em;
  /* padding: 0.5em; */
}

button:hover {
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(53, 53, 53);
  color: white;
  min-height: 50px;
}

header h1 {
  padding-left: 10px;
}

nav {
  margin-left: 30px;
  flex-grow: 1;
}

nav > ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

nav > ul > li {
  list-style-type: none;
  text-decoration: none;
  color: white;
}

.nav-user.icon {
  margin-right: 3rem;
}

.login-out {
  margin-left: auto;
  margin-right: 2rem;
  position: relative;
}

.logged-in-user {
  display: inline-block;
  margin-right: 15px;
}

.logged-in-user ~ a:hover {
  cursor: pointer;
}

.login-container {
  width: 60%;
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-container > h2 {
  color: var(--primary-color);
  width: 55%;
  text-align: center;
  margin-bottom: 0.5em;
  border-bottom: var(--border);
  padding-bottom: 0.2em;
}

/* Posts */

.posts-container {
  width: 95%;
  max-width: 600px;
  margin: auto;
}

.post-form-container {
  width: 95%;
  max-width: 600px;
  margin: auto;
  margin-top: 1em;
}

.post-content-input {
  resize: none;
  width: 100%;
  height: 6rem;
  padding: 0.2rem;
  border: none;
  background-color: var(--secondery-background-color);
  color: var(--primary-color);
}

.post-form-container > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-options {
  display: flex;
  align-items: center;
}

.upload-image-preview {
  height: 100%;
}

.image-uplaod-preview-cover {
  display: flex;
  justify-content: center;
  background-color: black;
  height: 250px;
  object-fit: cover;
}

select {
  background-color: var(--secondery-background-color);
  color: var(--primary-color);
  border: none;
  width: 70%;
  height: 30px;
}

.upload-picture-button {
  color: white;
  width: 10%;
  padding: 0;
  font-size: 2rem;
  margin: 0;
}

.post-submit {
  width: 20%;
  background-color: rgb(218, 54, 54);
  color: white;
  border: none;
  height: 30px;
  font-weight: 600;
  font-size: 1em;
}

.post-form-container button:hover {
  cursor: pointer;
  background-color: rgb(187, 34, 34);
}

.welcome-container {
  display: flex;
  align-items: center;
  background-color: #48aaad;
  padding: 0.5em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.welcome-container > .welcome-message {
  margin-left: 0.2rem;
  color: white;
  font-size: 1.2rem;
}

.welcome-container > .welcome-message .username {
  font-weight: 700;
}

/* user */

.icon {
  /* width: 3.2em;
  height: 3.2em; */
  background-color: #eae7e7;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.icon:hover {
  cursor: pointer;
}

.head,
.body {
  position: absolute;
  border-radius: 50%;
}

.head {
  width: 40%;
  height: 40%;
  background-color: white;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
}

.body {
  width: 100%;
  height: 50%;
  background-color: rgb(61, 179, 248);
  top: 60%;
}

.new-user-form-container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
}

.new-user-form-container > form {
  width: 95%;
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.new-user-form-container > form > h1 {
  width: 100%;
  color: var(--primary-color);
  text-align: center;
  padding-bottom: 0.5rem;
  border-bottom: var(--border);
}

.new-user-form-container > form > .edit-user-icon > .form-input > label,
.new-user-form-container > form > .edit-user-icon > .form-input > input {
  color: var(--primary-color);
  font-size: 1.5rem;
}

.edit-user-icon .form-input input {
  border: none;
  margin-left: 0.4rem;
  padding: 0.1rem;
  padding-left: 0.3rem;
  background-color: var(--secondery-background-color);
}

.new-user-form-container > form > .edit-user-icon > .form-input {
  display: flex;
  margin-top: 1rem;
  align-self: flex-start;
}

.new-user-form-container .buttons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 1rem;
}

.new-user-form-container form .submit-button,
.new-user-form-container form .cancel-button {
  color: black;
  font-size: 1.3rem;
  padding: 0.6rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.new-user-form-container form .submit-button {
  background-color: rgb(15, 255, 15);
}

.new-user-form-container form .cancel-button {
  background-color: rgb(250, 116, 62);
}

.user-icon-dropdown {
  position: absolute;
  right: 0rem;
  top: 3rem;
  background-color: var(--secondery-background-color);
}

.user-icon-dropdown .dropdown-links {
  display: flex;
  flex-direction: column;
  padding: 0.6rem;
}

.user-icon-dropdown .dropdown-link {
  color: var(--primary-color);
  list-style-type: none;
  text-decoration: none;
}

.user-icon-dropdown .dropdown-link:not(:first-child) {
  margin-top: 1rem;
}

.user-icon-dropdown .dropdown-link:hover {
  cursor: pointer;
  text-decoration: underline;
  color: var(--hover-color);
}

/* postItem */

.post-item-container {
  width: 100%;
  background-color: rgb(57, 57, 57);
  margin-top: 1em;
  padding: 0.35em;
  border-radius: 0.7em;
}

.post-item-top {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  border-bottom: var(--border);
}

.post-item-option-buttons {
  display: flex;
  align-items: flex-start;
  height: 3rem;
  margin-left: auto;
}

.post-item-option-buttons .post-item-edit-button,
.post-item-delete-button {
  font-size: 1.7rem;
}

.post-item-edit-button {
  color: rgb(0, 153, 224);
  margin-right: 0.4rem;
}

.post-item-edit-button:hover {
  color: rgb(59, 193, 255);
}

.post-item-delete-button {
  color: rgb(209, 0, 0);
}

.post-item-delete-button:hover {
  color: rgb(255, 47, 47);
}

.post-item-option-buttons .post-item-edit-button:hover,
.post-item-delete-button:hover {
  cursor: pointer;
}

.user-info {
  display: flex;
  align-items: center;
  padding-bottom: 0.3em;
  /* border-bottom: var(--border); */
}

.username-and-time {
  margin-left: 1em;
  display: inline-block;
}

.username-and-time > .post-item-username {
  color: var(--primary-color);
}

.post-description {
  min-height: 3em;
  margin-top: 0.5em;
  color: var(--primary-color);
  white-space: pre-wrap;
}

.post-item-data {
  color: var(--secondary-color);
}

.post-main-content {
  width: 100%;
}

.post-image-container {
  width: 100%;
  object-fit: contain;
  display: flex;
  justify-content: center;
  background-color: rgb(39, 39, 39);
  /* quick fix for browsers not supporting object-fit */
  overflow: hidden;
}

.post-image {
  max-height: 20rem;
}

.like-button-and-count {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding-bottom: 0.5rem;
  border-bottom: var(--border);
  margin-top: 1rem;
}

.like-button-and-count > button {
  width: 15%;
  padding: 0.4em;
  font-weight: 500;
  border-radius: 0.4em;
}

.like-button-and-count > .like-button {
  background-color: white;
  color: rgb(247, 4, 207);
  transition: all 0.2s;
  margin-right: 0.5rem;
}

.like-button-and-count > .like-button.liked {
  background-color: rgba(247, 4, 207, 0.486);
  color: white;
}

.like-button-and-count .like-count {
  color: var(--primary-color);
}

/* comment  */

.show-comments {
  color: var(--primary-color);
}

.show-comments:hover {
  cursor: pointer;
  text-decoration: underline;
  color: var(--hover-color);
}

.post-comment {
  margin-top: 0.7rem;
}

.post-comment-input {
  background-color: var(--secondery-background-color);
  color: var(--primary-color);
  border: none;
  padding: 0.3rem 0.5rem;
  width: 80%;
  margin-top: 0.4rem;
  font-size: 1.1rem;
}

.comment-item-container {
  background-color: var(--secondery-background-color);
  padding: 0.6rem;
  margin-top: 0.4rem;
  border-radius: 1rem;
}

.comment-item-user-info {
  display: flex;
  align-items: center;
}

.comment-item-user-info > .icon {
  margin-right: 0.5rem;
}

.comment-item-user-info > .comment-item-username {
  margin-right: 0.5rem;
  color: var(--primary-color);
}

.comment-item-container > .comment-item-content {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  color: var(--primary-color);
}

/* newUser  */

.edit-user-icon {
  width: 95%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.color-options-container {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color-options-container > .head-container,
.color-options-container > .body-container {
  width: 100%;
  text-align: center;
}

.head-container > .head-colors,
.body-container > .body-colors {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 16%);
  grid-column-gap: 5%;
  grid-row-gap: 1rem;
}

.color:hover {
  cursor: pointer;
}

.head-container > h1,
.body-container > h1 {
  color: var(--primary-color);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: var(--border);
  padding-top: 0.5rem;
}

.tag-users-container {
  margin-top: 0.7rem;
  pointer-events: none;
}

.tag-users-item {
  display: flex;
  align-items: center;
  padding: 0.6rem;
  cursor: auto;
  pointer-events: all;
}

.tag-users-item:hover {
  background-color: var(--secondery-background-color);
}

.tag-users-item-username {
  color: white;
  margin-left: 0.6rem;
  cursor: default;
}
