@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Balsamiq Sans", cursive;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(53, 53, 53);
  color: white;
  min-height: 50px;
}

header h1 {
  padding-left: 10px;
}

nav {
  margin-left: 30px;
  flex-grow: 1;
}

nav ul {
  display: flex;
  justify-content: start;
  width: 100%;
}

nav ul li {
  list-style-type: none;
  text-decoration: none;
  color: white;
}

.login-out {
  margin-left: auto;
  margin-right: 30px;
}

.logged-in-user {
  display: inline-block;
  margin-right: 15px;
}

.logged-in-user ~ a:hover {
  cursor: pointer;
}

.login-out > button {
  background-color: transparent;
  border: none;
  color: white;
  font-weight: 400;
  font-size: 1em;
}

.login-container {
  width: 60%;
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-container > h2 {
  width: 55%;
  text-align: center;
  margin-bottom: 0.5em;
  border-bottom: 0.1em solid rgba(170, 170, 170, 0.726);
  padding-bottom: 0.2em;
}

/* Posts */

.post-form-container {
  width: 100%;
  max-width: 600px;
  margin: auto;
  margin-top: 1em;
}

.post-form-container > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post-form-container select {
  width: 80%;
  height: 30px;
}

.post-form-container button {
  width: 20%;
  background-color: rgb(175, 21, 21);
  color: white;
  border: none;
  height: 30px;
  font-weight: 600;
  font-size: 1em;
}

.post-form-container button:hover {
  cursor: pointer;
  background-color: rgb(129, 15, 15);
}

.welcome-container {
  display: flex;
  align-items: center;
  background-color: rgba(9, 78, 9, 0.685);
  padding: 0.5em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.welcome-container > .welcome-message {
  margin-left: 1em;
  color: white;
  font-size: 1.2em;
}

.welcome-container > .welcome-message .username {
  font-weight: 700;
}

/* user */

.icon {
  width: 3.2em;
  height: 3.2em;
  background-color: grey;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.head,
.body {
  position: absolute;
  border-radius: 50%;
}

.head {
  width: 40%;
  height: 40%;
  background-color: white;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
}

.body {
  width: 100%;
  height: 50%;
  background-color: rgb(61, 179, 248);
  top: 60%;
}
