.error-message-container {
  width: 100%;
  background-color: rgb(255, 199, 94);
  display: flex;
  align-items: center;
  padding: 0.8rem 0.3rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.error-message-icon {
  color: rgb(255, 34, 34);
  font-size: 1.2rem;
  margin-right: 0.7rem;
}

.error-message-cancel-button {
  color: rgb(255, 34, 34);
  font-size: 1.1rem;
  margin-left: auto;
  cursor: pointer;
}

.error-message {
  color: rgb(255, 34, 34);
}
